extends ../template/layout

block content
  .row
    .large-8.small-12.columns
      h1.subheader Memory
    .large-4.small-12.columns
      include form
  .row
    .small-offset-2.small-8.columns
      #stats
  .row
    .small-12.columns
      #board
